.header 
    .g-wrapper 
        .header__wrapper
            .header__left
                a(href="/").header__logo 
                    img(src="./images/logo.svg")
                .header__buttons
                    a(href="#contacts").button.header__question Задать вопрос
                    a(href="https://xn--f1aijeow.xn--p1ai/office/").button.button__orange Личный кабинет
            .header__contact
                a(href="tel:(383)362211").header__tel (383) <span class="header__tel_big">362-21-18</span>
                .header__callback Заказать звонок
                