.header 
    .g-wrapper 
        .header__wrapper
            .header__left
                a(href="/").header__logo 
                    img(src="./images/title_img.png")
                .header__buttons
                    a(href="#").button Задать вопрос
                    a(href="https://xn--f1aijeow.xn--p1ai/office/").button.button__orange Личный кабинет
            .header__contact
                a(href="tel:+77777").header__tel +7 (499) <span class="header__tel_big">999-99-99</spa>
                .header__callback Заказать звонок
                