.navigation__fake
.navigation
  .g-wrapper
    .navigation__container
      nav.navigation__nav
        li.navigation__li
          a(href="/about-company.html") О компании
          ul.navigation__submenu
            li
              a(href="/specialists.html") Руководство и специалисты
            li
              a(href="/progress.html") Достижения
            li
              a(href="/requisites.html") Реквизиты
        li.navigation__li
          a(href="/homes.html") Дома в управлении
          ul.navigation__submenu
            li
              a(href="/homes.html") Список домов
            li
              a(href="/homes.html") Планы работ
            li
              a(href="/homes.html") Отчеты по работе
            li
              a(href="/homes.html") Акты и приказы
        li.navigation__li
          a(href="/news.html") Новости
        li.navigation__li
          a(href="/questions-answers.html") Вопросы и ответы
        li.navigation__li
          a(href="/contacts.html") Контакты

