.navigation__fake
.navigation
  .g-wrapper
    .navigation__container 
      nav.navigation__nav
        li.navigation__li
          a(href="") О компании
          ul.navigation__submenu 
            li 
              a(href="#") Общая информация
            li 
              a(href="#") Руководство и специалисты
            li 
              a(href="#") Достижения
            li 
              a(href="#") Реквизиты
        li.navigation__li
          a(href="") Дома в управлении
          ul.navigation__submenu 
            li 
              a(href="#") Список домов
            li 
              a(href="#") Планы работ
            li 
              a(href="#") Отчеты по работе
            li 
              a(href="#") Акты и приказы
        li.navigation__li
          a(href="") Новости
        li.navigation__li
          a(href="#") Вопросы и ответы
        li.navigation__li
          a(href="") Контакты

