.navigation__fake
.navigation
  .g-wrapper
    .navigation__container 
      nav.navigation__nav
        li.navigation__li
          a(href="") Главная
        li.navigation__li
          a(href="") О компании
        li.navigation__li
          a(href="") Дома в управлении
        li.navigation__li
          a(href="") Новости
        li.navigation__li
          a(href="") Контакты

