section.section__block.news
  .g-wrapper
    .section__title Новости и статьи
    .news__container
      .news__left 
        a(href="#").news__item 
          .news__img
            img(src="./images/news-1.jpg")
          .news__content 
            .news__title К 2023 г планируется сносить на 30% больше аварийного жилья, чем появляется
            .news__date 16:40
        a(href="#").news__item 
          .news__img
            img(src="./images/news-1.jpg")
          .news__content 
            .news__title К 2023 г планируется сносить на 30% больше аварийного жилья, чем появляется
            .news__date 16:40
        a(href="#").news__item 
          .news__img
            img(src="./images/news-1.jpg")
          .news__content 
            .news__title К 2023 г планируется сносить на 30% больше аварийного жилья, чем появляется
            .news__date 16:40
        a(href="#").news__item 
          .news__img
            img(src="./images/news-1.jpg")
          .news__content 
            .news__title К 2023 г планируется сносить на 30% больше аварийного жилья, чем появляется
            .news__date 16:40
      .news__right 
        .news__item.news__item_main
          .news__img.news__img_main
            img(src="./images/news-2.jpg")
          .news__inner
            .news__title.news__title_main Российские застройщики прогнозируют сохранение объема ввода жилья
            .news__date.news__date_main 16:40
            .news__text Девелоперская компания "А101" ввела в эксплуатацию шесть 16-этажных домов жилого комплекса "Скандинавия" в поселке Коммунарка в новой Москве.Как говорится в сообщении застройщика, общая площадь сданных домов составляет почти 50 тысяч квадратных метров. В них расположено 722 квартиры. Также компания построила более 2 тысяч квадратных метров инфраструктуры, отмечается в пресс-релизе", - отмечается в нем.
            .news__footer
              a(href="#").news__link Подробнее
        a(href="#").button.button__orange.news__button Все новости
