section.section__block
  .g-wrapper
    .section__title.section__title_left Реквизиты СД Капитал Сервис
    .contacts__container
      .contacts__left.page-contacts__left
        .page-contacts__merge
          .contacts__item.page-contacts__subitem.page-contacts__subitem_requisites
            .contacts__title Информация
            .contacts__link ИНН: 5405504774
            .contacts__link КПП: 540501001
            .contacts__link ОГРН: 1145476137718
            .contacts__link ОКПО: 93096062
            .contacts__link Расчетный счет: 40702810844050027081
            .contacts__link Банк: СИБИРСКИЙ БАНК ПАО СБЕРБАНК
            .contacts__link БИК: 045004641
            .contacts__link Корр. счет: 30101810500000000641
            .contacts__link Свидетельство о гос.регистрации 54 №004908482 от 05.11.2014. выдан Межрайонной ИФНС № 16 по Новосибирской области
            .contacts__link.contacts__link_user Директор Морозов Константин Александрович
