section.section__block
  .g-wrapper
    .section__title.section__title_left Руководство и специалисты
    .page-specialists
      .page-specialists__item
        .page-specialists__left
          .page-specialists__image
            img(src="./images/person.jpg")
        .page-specialists__right
          .page-specialists__name Дмитриенко Александр Викторович
          .page-specialists__rank Заместитель директора
      .page-specialists__item
        .page-specialists__left
          .page-specialists__image
            img(src="./images/person.jpg")
        .page-specialists__right
          .page-specialists__name Дмитриенко Александр Викторович
          .page-specialists__rank Заместитель директора
      .page-specialists__item
        .page-specialists__left
          .page-specialists__image
            img(src="./images/person.jpg")
        .page-specialists__right
          .page-specialists__name Дмитриенко Александр Викторович
          .page-specialists__rank Заместитель директора
      .page-specialists__item
        .page-specialists__left
          .page-specialists__image
            img(src="./images/person.jpg")
        .page-specialists__right
          .page-specialists__name Дмитриенко Александр Викторович
          .page-specialists__rank Заместитель директора
      .page-specialists__item
        .page-specialists__left
          .page-specialists__image
            img(src="./images/person.jpg")
        .page-specialists__right
          .page-specialists__name Дмитриенко Александр Викторович
          .page-specialists__rank Заместитель директора
      .page-specialists__item
        .page-specialists__left
          .page-specialists__image
            img(src="./images/person.jpg")
        .page-specialists__right
          .page-specialists__name Дмитриенко Александр Викторович
          .page-specialists__rank Заместитель директора
      .page-specialists__item
        .page-specialists__left
          .page-specialists__image
            img(src="./images/person.jpg")
        .page-specialists__right
          .page-specialists__name Дмитриенко Александр Викторович
          .page-specialists__rank Заместитель директора

