section.page
  .g-wrapper
    .section__title.section__title_left Новости и статьи
    .page-news__container
      .page-news__item
        .page-news__image
          img(src="./images/news-1.jpg")
        .page-news__content
          .page-news__date 19.01.2018 15:16
          .page-news__title Российские застройщики прогнозируют сохранение объема ввода жилья
          .page-news__text Девелоперская компания "А101" ввела в эксплуатацию шесть 16-этажных домов жилого комплекса "Скандинавия" в поселке Коммунарка в новой Москве.Как говорится в сообщении застройщика, общая площадь сданных
          a(href="/page-news.html").page-news__link Читать полностью
      .page-news__item
        .page-news__image
          img(src="./images/news-1.jpg")
        .page-news__content
          .page-news__date 19.01.2018 15:16
          .page-news__title Российские застройщики прогнозируют сохранение объема ввода жилья
          .page-news__text Девелоперская компания "А101" ввела в эксплуатацию шесть 16-этажных домов жилого комплекса "Скандинавия" в поселке Коммунарка в новой Москве.Как говорится в сообщении застройщика, общая площадь сданных
          a(href="/page-news.html").page-news__link Читать полностью
      .page-news__item
        .page-news__image
          img(src="./images/news-1.jpg")
        .page-news__content
          .page-news__date 19.01.2018 15:16
          .page-news__title Российские застройщики прогнозируют сохранение объема ввода жилья
          .page-news__text Девелоперская компания "А101" ввела в эксплуатацию шесть 16-этажных домов жилого комплекса "Скандинавия" в поселке Коммунарка в новой Москве.Как говорится в сообщении застройщика, общая площадь сданных
          a(href="/page-news.html").page-news__link Читать полностью
      .page-news__item
        .page-news__image
          img(src="./images/news-1.jpg")
        .page-news__content
          .page-news__date 19.01.2018 15:16
          .page-news__title Российские застройщики прогнозируют сохранение объема ввода жилья
          .page-news__text Девелоперская компания "А101" ввела в эксплуатацию шесть 16-этажных домов жилого комплекса "Скандинавия" в поселке Коммунарка в новой Москве.Как говорится в сообщении застройщика, общая площадь сданных
          a(href="/page-news.html").page-news__link Читать полностью
      .page-news__item
        .page-news__image
          img(src="./images/news-1.jpg")
        .page-news__content
          .page-news__date 19.01.2018 15:16
          .page-news__title Российские застройщики прогнозируют сохранение объема ввода жилья
          .page-news__text Девелоперская компания "А101" ввела в эксплуатацию шесть 16-этажных домов жилого комплекса "Скандинавия" в поселке Коммунарка в новой Москве.Как говорится в сообщении застройщика, общая площадь сданных
          a(href="/page-news.html").page-news__link Читать полностью
