section.section__block.sertificates
  .g-wrapper 
    .section__title Наши достижения
    .sertificates__container
      .swiper-container
        .swiper-wrapper
          a(href="./images/sertif-1.jpg").swiper-slide 
            img(src="./images/sertif-1.jpg")
            .gallery__hover
          a(href="./images/sertif-1.jpg").swiper-slide 
            img(src="./images/sertif-1.jpg")
            .gallery__hover
          a(href="./images/sertif-1.jpg").swiper-slide 
            img(src="./images/sertif-1.jpg")
            .gallery__hover
          a(href="./images/sertif-1.jpg").swiper-slide 
            img(src="./images/sertif-1.jpg")
            .gallery__hover
          a(href="./images/sertif-1.jpg").swiper-slide 
            img(src="./images/sertif-1.jpg")
            .gallery__hover
        .swiper-button-next
        .swiper-button-prev
