extends layouts/_main.pug

block content
  include  ./blocks/_header.pug
  include  ./blocks/_navigation.pug
  include  ./blocks/_breadcrumbs.pug
  include  ./blocks/_page-contacts.pug
  include  ./blocks/_mobile.pug
  include  ./blocks/_footer.pug
