extends layouts/_main.pug

block content
  include  ./blocks/_header.pug
  include  ./blocks/_navigation.pug
  include  ./blocks/_mainSlider.pug
  include  ./blocks/_company.pug
  include  ./blocks/_sertificates.pug
  include  ./blocks/_questions.pug
  include  ./blocks/_news.pug
  include  ./blocks/_contacts.pug
  include  ./blocks/_footer.pug
