*
  margin 0
  padding 0
  box-sizing border-box
  outline: none
  text-decoration none

html
  font-size: 10px
  font-family Roboto
  color #363636
  font-weight normal

#wrapper
  width 100%
  overflow-x: hidden

.g-wrapper
  max-width: 120rem
  margin 0 auto
  padding-left 0.6rem
  padding-right 0.6rem

.section
  &__title 
    display: table;
    width: auto;
    margin: 15px auto;
    letter-spacing: 2px;
    font-size 3.4rem
    font-weight 700
    text-align: center
    position relative
    margin-bottom 4rem
    &:before 
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -8px;
      left: -35px;
      width: 10px;
      height: 10px;
      border: 3px solid rgb(173, 2, 1);
      transform: rotate(45deg)
    &:after 
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -8px;
      right: -35px;
      width: 10px;
      height: 10px;
      border: 3px solid rgb(173, 2, 1);
      transform: rotate(45deg)
    &_left 
      text-align: left
      margin 15px 0
      margin-bottom 5rem
      &:before
        display none
      &:after
        display none
  &__text
    font-size 1.6rem  
    line-height 2rem
    &_margin
      margin-bottom 1rem
  &__block
    padding 4rem 0 6rem

.button
  padding 1rem 0.8rem
  text-transform uppercase 
  border-radius 0.2rem 
  font-size 1.5rem
  font-family: Roboto
  background white
  font-weight 700 
  color rgb(173, 2, 1)
  border: 0.1rem solid rgb(173, 2, 1);
  cursor pointer
  white-space: nowrap
  box-shadow: 0 9px 16px rgba(0, 0, 0, 0.11)
  transition:  0.4s
  &:last-child
      margin-right 0
  &:hover
      color white
      background-color rgb(173, 2, 1)
  &__orange
      color white
      background-color: rgb(173, 2, 1)
      border: 0.1rem solid rgb(173, 2, 1)
      &:hover
          color rgb(173, 2, 1) 
          background-color white

.politic__open 
  color rgb(173, 2, 1)
  cursor pointer

.call__wrapper .tingle-modal-box__content
  padding 0

.call__wrapper .tingle-modal-box
  max-width: 38rem

.alertify-logs 
  font-size 1.6rem

@media (max-width: 1600px)
  html
    font-size: 9px

@media (max-width: 1440px)
  html
    font-size: 9px

@media (max-width: 1280px)
  html
    font-size: 8px

@media (max-width: 1024px)
  html
    font-size: 7px
  .section
    &__block
      padding: 2rem 0 4rem

@media (max-width: 1000px)
  html
    font-size: 10px

@media (max-width: 867px)
  html
    font-size: 8px

@media (max-width: 667px)
  .section
    &__title 
      font-size 2.8rem
      margin-bottom 3rem

@media (max-width: 540px)
  .call__wrapper .tingle-modal-box
    max-width: 100%
    margin: 0 auto;
    height 100%
  .call__wrapper .tingle-modal__close, .politic_wrapper .tingle-modal__close
    background: white
    border-bottom: 1px solid rgba(0,0,0,0.1);

  .call__wrapper .tingle-modal__closeLabel, .politic_wrapper .tingle-modal__closeLabel
    color #363636

  .call__wrapper .tingle-modal__closeIcon, .politic_wrapper .tingle-modal__closeIcon
    color rgb(173, 2, 1)
