@import './_fonts.styl'
@import './_global.styl'

@import './blocks/_header.styl'
@import './blocks/_navigation.styl'
@import './blocks/_mainSlider.styl'
@import './blocks/_company.styl'
@import './blocks/_news.styl'
@import './blocks/_sertificates.styl'
@import './blocks/_contacts.styl'
@import './blocks/_questions.styl'
@import './blocks/_call.styl'
@import './blocks/_mobile.styl'
@import './blocks/_breadcrumbs.styl'
@import './blocks/_page.styl'
@import './blocks/_page-contacts.styl'
@import './blocks/_footer.styl'