.footer 
  padding 2rem 0
  background:  #f6f6f6
  &__copyright 
    font-size 1.6rem
    margin-bottom 0.4rem
    &_link
      font-size 1.4rem
      color #363636
      cursor pointer
      transition 0.3s
      &:hover 
        color #EF5937

      