.header 
    padding 1.8rem 0
    height 96px
    box-shadow 0 10px 20px -10px rgba(0, 0, 0, 0.09), 0 5px 10px -5px rgba(0, 0, 0, 0.09)
    border-bottom 1px solid #E2E2E2
    &__wrapper 
        display flex
        justify-content space-between
        align-items center
    &__left 
        width: 50%;
        display flex
        justify-content space-between
        align-items center
    &__logo 
        max-width: 14rem
        height 7rem
        & img 
            width 100%
            height 100%
            object-fit: contain
    &__tel
        display: block
        font-size 1.8rem
        font-family: Roboto
        font-weight: 400
        color black
        margin-bottom: 1rem
        &_big 
            font-weight 700
    &__callback
        display: inline-block
        font-family: Roboto
        font-weight: 500
        font-size 1.3rem
        color #1174BF
        border-bottom 1px dotted #1174BF
        position: relative
        cursor pointer
        float:right
        &:before
            content ''
            left -2.4rem
            top 0
            background url('../images/phone-call.png') center center no-repeat
            background-size contain
            width 16px
            height: 16px
            position absolute
    &__button
        padding 1rem 0.8rem
        text-transform uppercase 
        border-radius 0.2rem 
        font-size 1.5rem
        font-family: Roboto
        font-weight 700 
        color #008D21
        border: 0.1rem solid #008D21;
        margin-right 2rem
        box-shadow: 0 9px 16px rgba(0, 0, 0, 0.11)
        transition:  0.4s
        &:last-child
            margin-right 0
        &:hover
            color white
            background-color #008D21
        &_orange
            color white
            background-color: #EF5937
            border: 0.1rem solid #EF5937
            &:hover
                color #EF5937 
                background-color white