.navigation
    padding 2.4rem 0
    width 100%
    position: fixed
    top: 96px;
    left: 0;
    z-index: 600
    background white
    border-bottom 1px solid #E2E2E2
    box-shadow 0 10px 20px -10px rgba(0, 0, 0, 0.09), 0 5px 10px -5px rgba(0, 0, 0, 0.09)
    &__nav
      display flex
      justify-content: space-between
    &__li
      list-style-type: none;
      & a
        font-family Roboto
        font-size 1.8rem
        color: #363636;
        font-weight 500
        transition 0.3s
        &:hover
          color #008D21