.page-contacts
  &__right, &__left
    width 100%
    margin-bottom 2rem
    margin-right 0
  &__merge 
    display flex
    justify-content: flex-start
  &__subitem
    &_requisites
      width 60%
      & .contacts__link
        margin-bottom 0.4rem

@media (max-width: 667px)
  .page-contacts
    &__merge 
      flex-wrap wrap
      margin-bottom 2rem
    &__subitem
      &_requisites
        width 100%
        & .contacts__link
          padding-left 0
  